.photoHero img {
  width: 1440px;
  height: 966px;
  object-fit: cover;
}
#titre-header {
  position: absolute;
  top: 55%;
  left: 450px;
  margin: auto;
}
#titre-header img {
  width: 1000px;
  height: 142px;
}
.photoHero {
  padding-bottom: 50px;
}
.galerie {
  width: 1118px;
  margin: auto;
}
.content {
  width: 49.3%;
}
#posts-container {
  width: 1118px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.galerie img {
  width: 564px;
  height: 495px;
  object-fit: cover;
}

#selectAll {
  width: 1118px;

  display: flex;
  margin-bottom: 40px;
}
select {
  width: 260px;
  height: 43px;
  border-radius: 8px;
  padding-left: 15px;
}
#select1 {
  display: flex;
}
.formats {
  margin-left: 40px;
}
#select2 {
  width: 1118px;
  display: flex;
  justify-content: end;
}
option {
  background-color: white;
}
option:nth-child(1) {
  background: white;
}
option:nth-child(2) {
  background: white;
}
option:nth-child(3) {
  background: #ffd6d6;
}
option:nth-child(4) {
  background: #fe5858;
}
option:nth-child(5) {
  background: #e00000;
}

.photo-hover-container {
  position: relative;
}

.photo-hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.photo-hover-container:hover .photo-hover-overlay {
  opacity: 1;
}

.photo-link img {
  height: 31px;
  width: 46px;
  transition: transform 0.3s;
}

.photo-hover-container:hover .photo-link img {
  transform: scale(1.2); /* effet de zoom léger au survol */
}
.photo-hover-container {
  position: relative;
  /* autres styles pour le conteneur de la photo */
}

.photo-fullscreen-link {
  display: none; /* Masquer par défaut */
  position: absolute;
  top: 10px; /* Ajustez la valeur pour la position exacte */
  right: 10px; /* Ajustez la valeur pour la position exacte */
  z-index: 10; /* S'assurer que l'icône est au-dessus de l'image */
}

.photo-hover-container:hover .photo-fullscreen-link {
  display: block; /* Afficher l'icône au survol */
}

.icon-fullscreen {
  display: block;
}
img.icon-fullscreen {
  width: 30px;
  height: 30px;
}

.photo-hover-container:hover .photo-title {
  display: block; /* Afficher le titre au survol de .photo-hover-container */
}

.photo-title {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  text-transform: uppercase;
  padding: 5px;

  font-size: 14px;
  font-weight: 500;
  max-width: 90%; /* Largeur maximale du titre pour éviter de déborder du conteneur de la photo */
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  overflow: hidden;
  text-overflow: ellipsis; /* Ajoute des points de suspension si le texte déborde */
  z-index: 5;
}

/* responsive */
@media (max-width: 375px) {
}
