.photoHero img {
  width: 1440px;
  height: 966px;
  object-fit: cover;

  display: block; /* Élimine l'espace blanc en dessous de l'image */
}
#titre-header {
  position: absolute; /* Positionnement absolu */
  top: 44%; /* Centré verticalement */
  left: 50%; /* Centré horizontalement */
  transform: translate(
    -50%,
    -50%
  ); /* Décalage précis pour un centrage parfait */
  z-index: 10; /* Assurez-vous qu'il est au-dessus de l'image de fond */
}

#titre-header img {
  width: 1000px;
  height: 142px;
}
.photoHero {
  position: relative;
  padding-bottom: 50px;
}
.galerie {
  width: 1118px;
  margin: auto;
}
.content {
  width: 49.3%;
}
#posts-container {
  width: 1118px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.galerie img {
  width: 564px;
  height: 495px;
  object-fit: cover;
}

#selectAll {
  width: 1118px;

  display: flex;
  margin-bottom: 40px;
}
select {
  width: 260px;
  height: 43px;
  border-radius: 8px;
  padding-left: 15px;
}
#select1 {
  display: flex;
}
.formats {
  margin-left: 40px;
}
#select2 {
  width: 1118px;
  display: flex;
  justify-content: end;
}
/* Couleur de fond pour le filtre catégorie sélectionné */
#category-filter.selected-category {
  background: #ffd6d6;
}

/* Couleur de fond pour le filtre format sélectionné */
#format-filter.selected-format {
  background: #fe5858;
}

/* Couleur de fond pour le filtre date sélectionné */
#date-filter.selected-date {
  background: #e00000;
}

.photo-hover-container {
  position: relative;
}
#photo-galerie .photo-hover-container {
  position: relative;
  height: 495px !important;
}

.photo-hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.photo-hover-container:hover .photo-hover-overlay {
  opacity: 1;
  background: #00000099;
}

.photo-link img {
  height: 31px;
  width: 46px;
  transition: transform 0.3s;
}

#photo-galerie .photo-link img {
  height: 31px;
  width: 46px;
  transition: transform 0.3s;
}
.photo-hover-container:hover .photo-link img {
  transform: scale(1.2); /* effet de zoom léger au survol */
}
.photo-hover-container {
  position: relative;
  /* autres styles pour le conteneur de la photo */
}

.photo-fullscreen-link {
  display: none; /* Masquer par défaut */
  position: absolute;
  top: 10px; /* Ajustez la valeur pour la position exacte */
  right: 10px; /* Ajustez la valeur pour la position exacte */
  z-index: 10; /* S'assurer que l'icône est au-dessus de l'image */
}

.photo-hover-container:hover .photo-fullscreen-link {
  display: block; /* Afficher l'icône au survol */
}

.icon-fullscreen {
  display: block;
}
img.icon-fullscreen {
  width: 30px;
  height: 30px;
}
#photo-galerie img.icon-fullscreen {
  width: 30px;
  height: 30px;
}
.photo-hover-container:hover .photo-title {
  display: block; /* Afficher le titre au survol de .photo-hover-container */
}

.photo-title {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  text-transform: uppercase;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  max-width: 90%; /* Largeur maximale du titre pour éviter de déborder du conteneur de la photo */
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  overflow: hidden;
  text-overflow: ellipsis; /* Ajoute des points de suspension si le texte déborde */
  z-index: 5;
}
.photo-hover-container:hover .photo-categorie {
  display: block; /* Afficher le titre au survol de .photo-hover-container */
}
.photo-categorie {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  text-transform: uppercase;
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
  max-width: 90%; /* Largeur maximale du titre pour éviter de déborder du conteneur de la photo */
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  overflow: hidden;
  text-overflow: ellipsis; /* Ajoute des points de suspension si le texte déborde */
  z-index: 5;
}

/* Styles pour la lightbox */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  align-items: center;
  justify-content: center;
}

.lightbox-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  color: white;
  z-index: 1001;
  user-select: none;
}
img.out {
  position: absolute;
  left: 90%;
  top: 50px;
  cursor: pointer;
}
.photo {
  width: 564px;
  height: 495px;
  object-fit: cover;
}
/* Styles pour les flèches */
.arrow {
  cursor: pointer;
  position: fixed; /* Positionnement fixe par rapport à la fenêtre */
  top: 50%; /* Centrer verticalement */
  transform: translateY(-50%);
  font-size: 2em; /* Taille de la flèche */
  color: white; /* Couleur de la flèche */
  z-index: 1001; /* S'assurer qu'elles sont au-dessus de la lightbox */
  user-select: none; /* Désactiver la sélection du texte */
}

.left-arrow {
  left: 150px; /* Positionnement à gauche */
}
.left-arrow img {
  width: 110px;
  height: 18px;
}
.right-arrow {
  right: 150px; /* Positionnement à droite */
}
.right-arrow img {
  width: 110px;
  height: 18px;
}
.info-container {
  color: white;
  position: absolute;
  display: flex;
  bottom: 150px;
  text-transform: uppercase;
}
.info-ref {
  padding-right: 440px;
}

/* responsive */
@media (max-width: 375px) {
}
