/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 597px; /* Could be more or less, depending on screen size */
  height: 769px;
  overflow: hidden;
}
#contact {
  content: url(../images/Contact.png);
  width: 886px;
  height: 106px;
  margin-left: -156px;
}
form {
  display: flex;
  flex-direction: column;
  width: 263px;
  margin: auto;
  padding-top: 30px;
  font-weight: 500;
  font-size: 12px;
}
input {
  height: 40px;
  border-radius: 8px;
  border: solid #888 1px;
  margin-top: 6px;
}
textarea {
  height: 210px;
  border-radius: 8px;
  border: solid #888 1px;
  margin-top: 8px;
}
.bouton {
  width: 318px;
  height: 50px;
  border: white;
  border-radius: 0;
  background: #d8d8d8;
}

@media (max-width: 425px) {
  #contact {
    width: 459.5px;
    height: 55px;
    margin-left: -104px;
  }
  .modal-content {
    width: 286px;
    height: 583px;
    margin: 15% auto;
  }
  form {
    padding-top: 8px;
    width: 190px;
    margin: auto;
  }
  input {
    width: 190px;
    margin-top: 2px;
  }
  textarea {
    width: 190px;
    height: 140px;
    margin-top: 2px;
  }
  .bouton {
    width: 190px;
  }
}
.myBtn {
  cursor: pointer;
}
